{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "jsx-control-statements",
    ["module-resolver",
      {
        "root": ["."],
        "alias": {"@": "./"}
      }
    ],
    ["import", {"libraryName": "antd-mobile"}]
  ]
}
