{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "jsx-control-statements",
    ["module-resolver",
      {
        "root": ["."],
        "alias": {"@": "./"}
      }
    ],
    ["import", {"libraryName": "antd-mobile", "libraryDirectory": "es/components", "style": false}]
  ]
}
