@import '../../assets/base';

.noData {
  text-align: center;
  background: $color-white;
  padding: 100px 0;
  font-size: $font-size-larger;
  color: $color-black-lighter;
}

@media (prefers-color-scheme: dark) {
  .noData {
    background: $color-cyan;
  }
}
