.menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(255, 255, 255);
  z-index: 90;
  transform: translateY(-100%);
  opacity: 0;
  transition: all .2s;
  ul {
    padding-left: 30px;
    li {
      list-style: none;
      line-height: 80px;
      border-top: 1PX solid #eee;
      a {
        display: block;
        color: #666;
        &.current {
          color: #eb005d;
        }
      }
    }
  }
  &.show {
    transform: translateY(90px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .05);
    opacity: 1;
  }
}
