.menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(255, 255, 255);
  z-index: 90;
  transform: translateY(-100%);
  opacity: 0;
  transition: all .2s;
  ul {
    padding-left: 20px;
    li {
      list-style: none;
      line-height: 40px;
      border-top: 1PX solid #eee;
      a {
        display: block;
        color: #666;
        &.current {
          color: #eb005d;
        }
      }
    }
  }
  &.show {
    transform: translateY(45px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .05);
    opacity: 1;
  }
}

:global {
  .pc {
    :local(.menu.show){
      position: static;
      width: 100%;
      transform: none;
      box-shadow: none;
      background: none;
      text-align: right;
      font-size: 14px;
      > ul > li {
        position: relative;
        display: inline-block;
        border-top: none;
        line-height: 80px;
        > a {
          position: relative;
          z-index: 2;
          background: #fff;
          padding: 0 20px;
          &:local(.current) {
            color: #fff!important;
            background: #eb005d!important;
          }

        }
        &:hover {
          & > a {
            color: #f72874;
            background: #f5f5f5;
          }
        }
        > ul {
          position: absolute;
          background: #fff;
          left: 0;
          right: 0;
          transform: translateY(-100%);
          transition: all .2s;
          text-align: center;
          padding-left: 0;
          > li {
            white-space: nowrap;
            border-top: none;
            line-height: 50px;
            border-top: 1px dashed #ddd;
            &:first-child {
              border-top: 2px solid #bc004a;
            }
            a {
              &:hover {
                color: #f72874;
              }
            }
          }
        }
        &:hover {
          & > ul {
            transform: translateY(0);
            box-shadow: 0 10px 10px rgba(0, 0, 0, .05);
          }
        }
      }
    }
  }
}
