@import "../../assets/base";

.detail {
  &__content {
    padding: 1px 10px!important;
    background: $color-white;
  }
  &__title {
    font-size: $font-size-head;
    padding: 20px 0 0;
    text-align: center;
    &:empty {
      margin: 0;
    }
  }
  &__info {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px dashed $color-gray-darker;
    font-size: $font-size-smaller;
    display: flex;
    justify-content: center;
    &-item {
      display: flex;
      align-items: center;
      color: $color-black-lighter;
      &:before{
        display: inline-block;
        margin: 0 5px;
        content: '/';
      }
      &:first-child {
        &:before {
          display: none;
        }
      }
    }
  }
  &__detail {
    padding: 10px 0;
  }
  &__quote {
    padding: 20px 0;
    font-style: italic;
  }
  &__extra {
    border-top: 1px dashed $color-gray-darker;
    padding: 10px 0;
    color: $color-black;
    list-style: none;
    &-item {
      display: flex;
      align-items: center;
      line-height: 1.4;
      img {
        margin-right: 5px;
      }
    }
  }
  &__post-list {
    list-style: outside circle;
    margin-top: 10px;
    line-height: 1.5;
    margin-left: 20px;
    li {
      margin-top: 10px;
      a {
        display: block;
      }
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

@media screen and (max-width: $width-layout-min) {
  .detail {
    &__title {
      font-size: $font-size-larger;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .detail {
    &__content {
      background: $color-cyan;
      border: 1px solid $color-cyan-lighter;
    }
    &__title {
      color: $color-black-lighter;
    }
    &__info {
      border-bottom-color: $color-cyan-lighter;
    }
    &__extra {
      border-top-color: $color-cyan-lighter;
      color: $color-black-lighter;
    }
  }
}
