.detail{
  &__content {
    padding: 1px 10px!important;
    background: #fff;
  }
  &__title {
    font-size: 24px;
    padding: 20px 0 0;
    text-align: center;
    &:empty {
      margin: 0;
    }
  }
  &__info {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px dashed #ddd;
    font-size: 12px;
    display: flex;
    justify-content: center;
    &-item {
      display: flex;
      align-items: center;
      color: #999;
      &:before{
        display: inline-block;
        margin: 0 5px;
        content: '/';
      }
      &:first-child {
        &:before {
          display: none;
        }
      }
    }
  }
  &__detail {
    padding: 10px 0;
  }
  &__quote {
    padding: 20px 0;
    font-style: italic;
  }
  &__extra {
    border-top: 1px dashed #ddd;
    padding: 10px 0;
    color: #666;
    list-style: none;
    &-item {
      display: flex;
      align-items: center;
      line-height: 1.4;
      img {
        margin-right: 5px;
      }
    }
  }
  &__post-list {
    list-style: inside circle;
    margin-top: 10px;
    line-height: 1.5;
    li {
      margin-top:10px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

//:global {
//  .pc {
//    :local(.detail__content) {
//      padding: 1px 20px!important;
//    }
//    :local(.detail__detail) {
//      padding: 20px 0;
//      font-size: 16px;
//    }
//    :local(.detail__quote) {
//      font-size: 18px;
//    }
//    :local(.detail__info-item) {
//      font-size: 14px;
//    }
//  }
//}
