.detail{
  &__content {
    background: #fff;
  }
  &__title {
    font-size: 24px;
    margin: 20px 0 0;
    text-align: center;
  }
  &__info {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px dashed #ddd;
    font-size: 12px;
    &-item {
      display: inline-block;
      color: #999;
      &:before{
        display: inline-block;
        margin: 0 5px;
        content: '/';
      }
      &:first-child {
        &:before {
          display: none;
        }
      }
    }
  }
  &__detail {
    padding: 10px 0;
  }
  &__quote {
    padding: 20px 0;
    font-style: italic;
  }
  &__extra {
    border-top: 1px dashed #ddd;
    padding-top: 15px;
    color: #666;
    list-style: none;
    &-item {
      line-height: 1.4;
    }
  }
  &__post-list {
    list-style: inside circle;
    margin-top: 10px;
    line-height: 1.5;
    li {
      margin-top:10px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

:global {
  .pc {
    :local(.detail__detail) {
      padding: 20px 0;
      font-size: 16px;
    }
    :local(.detail__info-item) {
      font-size: 14px;
    }
  }
}
