@import '../../assets/base';

.card {
  margin: 20px 0;
  &__title {
    padding: 10px 0;
    margin-top: 20px;
    border-bottom: 2px solid $color-gray;
    font-size: $font-size-larger;
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    &__title {
      color: $color-black-lighter;
      border-bottom-color: $color-cyan-darker;
    }
  }
}
