@tailwind base;
@tailwind components;
@tailwind utilities;

:root:root {
  --adm-color-primary: rgb(236, 72, 153);
}

.light {
  --auto-front-gray: 0 0 0;
  --auto-back-gray: 255 255 255;
}

.dark {
  --auto-front-gray: 255 255 255;
  --auto-back-gray: 17 24 39;
}

body, input, textarea {
  @apply dark:bg-gray-800 dark:text-gray-400 text-base font-light;
  a {
    @apply text-inherit;
  }
}

a {
  &.link-primary {
    &:link{
      @apply text-pink-500;
    }
    &:visited {
      @apply text-pink-500;
    }
    &:hover {
      @apply text-pink-700 underline;
    }
  }
  &.link-light {
    &:link{
      @apply text-gray-400;
    }
    &:visited {
      @apply text-gray-400;
    }
    &:hover {
      @apply text-gray-500 underline;
    }
  }
}
