@import '../../assets/base';

.footer {
  margin: 20px;
  text-align: center;
  color: $color-black;
  font-size: $font-size-smaller;
}

@media (prefers-color-scheme: dark) {
  .footer {
    color: $color-black-lighter;
  }
}
