.comment {
  margin-bottom: 0;
  &-list {
    ul {
      padding-left: 30px;
    }
  }
  &-wrap {
    border-bottom: 1px dashed #ddd;
    padding: 20px 0;
    overflow: hidden;
  }
  &-item {
    position: relative;
    list-style: none;
  }
  &-photo {
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 20px;
    img {
      width: 100%
    }
  }
  &-content {
    overflow: hidden;
  }
  &-info {
    position: absolute;
    right: 10px;
    top: 20px;
    &-item {
      color: #999;
      display: inline-block;
      &--reply {
        color: #eb005d;
        cursor: pointer;
      }
      &:before{
        display: inline-block;
        margin: 0 5px;
        content: '/';
        color: #999;
      }
      &:first-child {
        &:before {
          display: none;
        }
      }
    }
  }
  &-name {
    color: #eb005d;
  }
  &-text {
    margin-top: 5px;
    color: #999;
  }
  &-reply {
    line-height: 3;
    &-label {
      color: #eb005d;
    }
    &-name {
      margin: 0 10px;
    }
    &-cancel {
      cursor: pointer;
      color: #999;
    }
  }
}

.form {
  input[type=text] {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1PX solid #eee;
    line-height: 40px;
    outline: none;
    font-size: 14px;
  }
  textarea {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    margin: 15px 0;
    font-size: 14px;
    border-bottom: 1PX solid #eee;
  }
  button {
    padding: 0 20px;
    height: 36px;
    border: none;
    background: #eb005d;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    &:active {
      opacity: .7;
    }
  }
}
